<div class="container">
  <div class="box">

    <div class="title">
      Happening now
    </div>

    <div class="sub-title">
      Join Twitter today
    </div>

    <input class="inputbox" type="text">

    <div class="buttons">
      <button class="button-1">
        <img id="pic" src="">
        Sign up with Apple</button>

      <div class="gap"> or</div>

      <button class="button-2">
        <img id="pic" src="">
        Sign up with phone or email</button>
    </div>
    
    <div class="text">
      By signing up, you agree to the <span class="clr">Terms of Service</span> and <span class="clr">Privacy Policy</span> ,including <span class="clr">Cookie Use</span>.
    </div>

    <div class="sub-title1">
      Already have an account ?
    </div>

    <div class="btn3">
      <button id="button-3">Sign In</button>
    </div>

  </div>
</div>